/*@import "tailwindcss";

*{
	font-family: gilroy;
	color: #fff;
}

html,body{
	height: 100%;
	width: 100%;
}

body{
	background: #111;
}

#tasklist::-webkit-scrollbar{
	display: none;
}*/

@import "tailwindcss";

/* 1. Apply Archivo to everything */
* {
    font-family: "Archivo", sans-serif;
    color: #fff; /* Keeps your white text default */
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #111;
}

/* Scrollbar Hiding */
#tasklist::-webkit-scrollbar {
    display: none;
}